NACOS_SERVER_ADDR=8.134.126.87:8848

REDIS_HOST=8.134.126.87
REDIS_PORT=6379
REDIS_PASSWORD=13377671259

DB_USERNAME=root
DB_PASSWORD=1603845288aA
USER_DB_URL=jdbc:mysql://rm-7xvkq7eswp47232at3o.mysql.rds.aliyuncs.com:3306/common-user?serverTimezone=UTC
ORG_DB_URL=jdbc:mysql://rm-7xvkq7eswp47232at3o.mysql.rds.aliyuncs.com:3306/organization-service-database?serverTimezone=UTC
MENTORING_DB_URL=jdbc:mysql://rm-7xvkq7eswp47232at3o.mysql.rds.aliyuncs.com:3306/mentoring-service?serverTimezone=UTC&characterEncoding=utf8

MAIL_USERNAME=
MAIL_PASSWORD=

GATEWAY_USER_SERVICE_URI=http://user-service:8081
